html{
    font-size: .6944444444444444vw
}
    
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.circle{
    width: 22px;
    height: 12px;
    background-color: var(--color-black);
    border-radius: 3px;
    flex-shrink: 0;
    display: inline-block;
}

.sr-only{
    position: absolute;
    clip-path: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap;
}
