.index{
    &__hero{
        position: relative;
    }
    
    &__hero-pin{
        background-color: #fff;
        position: relative;
        overflow: hidden;
        height: 100vh;
        width: auto;
        margin-bottom: 50px;
    }

    &__hero-title{
        position: absolute;
        top: 20px;
        left: 25%;
        transform: translateX(-100%);
        z-index: 1;
        font-size: 100px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -0.04em;
        opacity: 0;
    }

    &__hero-description{
        position: absolute;
        top: 65%;
        left: 50%;
        max-width: 40%;
        transform: translate(0, 0);
        z-index: 1;
        font-size: 150px;
        font-weight: 400;
        letter-spacing: -0.04em;
        opacity: 0;
        font-size: 24px;
        @media (min-width: 1024px) {
            font-size: 34px;
        }
    }

    &__description{
        grid-column: span 12/span 12;
        grid-column-start: 1;
        padding: 15px;
        margin-bottom: 50px;

        @media (min-width: 768px) {
            grid-column: span 8/span 8;
            grid-column-start: 2;
            padding: 0;
        }

        p{
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: -0.03em;
            margin: 0;
            font-size: 24px;

            @media (min-width: 768px) {
                font-size: 24px;
            }
            @media (min-width: 1024px) {
                font-size: 34px;
            }
        }


    }

    &__hero-image-wrapper{
        position: relative;
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        clip-path: inset(35% round 1rem);
        z-index: 2;
        opacity: 0;

        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__posts-list{
        list-style: none;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 50px;
        padding: 15px;
        
        @media (min-width: 768px) {
            padding: 20px;
            grid-template-columns: repeat(2,minmax(0,1fr));
            gap: 10px;
        }
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4,minmax(0,1fr));
            gap: 1rem;
        }
    }

    &__posts-list-item{
        z-index: 1;
    }

    &__posts-list-item--featured{
        grid-column: span 1/span 1;
        
        @media (min-width: 768px) {
            grid-column: span 2/span 2;
        }
    }

    &__posts-list-item--plain,
    &__posts-list-item--link{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
        background-color: #f4f4f4;
        height: 100%;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
        overflow: hidden;
        transition: all .3s ease-in-out;

        &.has--no-thumbnail{
            &:hover,
            &:focus{
                background-color: var(--accent-purple-front);

                .index__posts-list-item--title h3{
                    color: var(--accent-yellow)
                }
            }
        }

        &.has--thumbnail{
            &:hover,
            &:focus{

                .index__posts-list-item--image{
                    opacity: 1;
                }
                
                .index__posts-list-item---header,
                .index__posts-list-item---footer{
                    opacity: 0;
                }
            }
        }

    }

    &__posts-list-item--featured-link{
        position: relative;
        border-radius: 1rem;
        text-decoration: none;
        color: black;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        transition: all .2s ease-in-out;
        
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2,minmax(0,1fr));
        }

        &:hover,
        &:focus{
            background-color: var(--accent-yellow);
            
            .index__item-block-cross-featured{
                transform: rotate(90deg)
            }
                
            .index__posts-list-item--featured-image img{
                transform: scale(1.1)
                
            }
        }

    }
    
    &__posts-list-item--featured-header{
        
        @media (min-width: 768px) {
            padding: 20px;
        }
    }

    &__posts-list-item---header{
        border: 0;
        border-color: rgba(0,0,0,.2);
        border-bottom-width: .1rem;
        border-style: solid;

        @media (min-width: 768px) {
            height: 130px;
        }
    }
    
    &__posts-list-item---header,
    &__posts-list-item---footer{
        z-index: 3;
        padding: 15px;
        opacity: 1;
        transition: all .3s ease-in-out;
        @media (min-width: 768px) {
            padding: 20px;
        }
    }

    &__posts-list-item--featured-image{
        position: relative;
        overflow: hidden;
        height: 390px;
        border-radius: 1rem;

        img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all .3s ease-in-out;
        }

    }

    &__posts-list-item--image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .3s ease-in-out;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    &__posts-list-item--category,
    &__posts-list-item--featured-category{
        display: flex;
        align-items: center;

        .circle{
            margin-right: 5px;
        }
    }

    &__posts-list-item--featured-category{
        margin-bottom: 10px;
    }

    &__posts-list-item--title,
    &__posts-list-item--featured-title{
        margin-bottom: 20px;
        
        h3{
            font-size: 32px;
            line-height: 1;
            color: var(--color-black);
            letter-spacing: -0.03em;
            font-weight: 500;
            transition: all .2s ease-in-out;
        }
    }
    &__posts-list-item--category,
    &__posts-list-item--featured-category,
    &__posts-list-item--excerpt,
    &__posts-list-item--featured-excerpt{
        
        span,
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 1.4;
            letter-spacing: -0.02em;
        }
    }

    &__item-block-cross-featured{
        position: absolute;
        z-index: 3;
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var(--color-black);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .35s cubic-bezier(.3,.86,.36,.95);

        &:before,
        &:after{
            content: '';
            position: absolute;
            background-color: #fff;
            height: 1px;
            transform-origin: center;
            width: 50%;
            transition: width .5s cubic-bezier(.3,.86,.36,.95);
        }

        &:after{
            transform: rotate(90deg);
        }
    }

    &__categories{
        padding: 15px;

        @media (min-width: 768px) {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(4,minmax(0,1fr));
        }
    }

    &__categories-container{
        position: relative;
        grid-column: span 2/span 2;
    }

    &__categories-btn{
        position: relative;
        padding: 10px 20px;
        background-color: #f4f4f4;
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 3;
        transition: background-color .5s ease-in-out;
        
        &:hover,
        &:focus{
            background-color: var(--accent-yellow);
            .index__categories-btn-plus {
                transform: rotate(90deg);
            }
        }
            
        &.is-open{
            .index__categories-btn-plus{
                &:before{
                    width: 0;
                }
                    
            }
        }
    }

    &__categories-btn-settings{
        width: 15px;
        height: 15px;
        margin-right: 10px;
        
        svg{
            width: 100%;
            height: auto;
        }
    }

    &__categories-btn-plus{
        position: relative;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .35s cubic-bezier(.3,.86,.36,.95);

        &:before,
        &:after{
            content: '';
            position: absolute;
            background-color: var(--color-black);
            height: 1px;
            transform-origin: center;
            width: 100%;
            transition: width .5s cubic-bezier(.3,.86,.36,.95);
        }

        &:after{
            transform: rotate(90deg);
        }
    }

    &__categories-btn-text{
        font-size: 18px;
        line-height: 1.2;
        flex-grow: 1;
        text-align: left;

        @media (min-width: 768px) {    
            font-size: 20px;
        }
    }

    &__categories-panel{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 50px;
        border-radius: 10px;
        overflow: hidden;
        background-color: var(--accent-yellow);
    }

    &__categories-panel-container {
        padding: 20px;
    }
        

    &__categories-panel-list{
        column-count: 2;
        list-style: none;
        padding: 0;

        @media (min-width: 768px) {
            column-count: 3;
        }
    }

    &__categories-panel-item{
       margin-bottom: 10px;

        button{
            position: relative;
            display: inline-block;
            color: var(--color-black);
            text-decoration: none;
            font-size: 18px;
            text-align: left;
            padding: 0;
            line-height: 1.4;
            letter-spacing: -.02em;
            background-color: transparent;
            border: 0;

            &:hover,
            &:focus,
            &.active-cat{
                &:after{
                    transform: scaleX(1);
                }
            }
    
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: var(--color-black);
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: transform 0.3s;
            }


            @media (min-width: 768px) {    
                font-size: 20px;
            }
        }
    }
}
