.loader::before,
.loader::after{
    content: '';
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.loader::before{
    background-color: #fff;
    z-index: 99998;

}
.loader::after{
    z-index: 99999;
    background-color: var(--accent-purple-front);
    clip-path: inset(35% round 1rem);
    // animation: loaderAnim 100s linear infinite alternate forwards;
}

@keyframes loaderAnim{
    to {
        clip-path: inset(100% round 1rem);
    }
}